.wrapper__chat-main
  .wrapper__chat-main__group-info
    .wrapper__chat-main__group-info__group
      .wrapper__chat-main__group-info__group__group-name
        = @group.name
      .wrapper__chat-main__group-info__group__user-name
        .wrapper__chat-main__group-info__group__user-name__member
          Member：
        %ul
          - @group.users.each do |user|
            %li= user.name
    .wrapper__chat-main__group-info__edit
      = link_to "Edit", edit_group_path(@group), class: "edit-btn"
  .wrapper__chat-main__message-list
    = render @messages

  = form_with model: [@group, @message], html: {class: "wrapper__chat-main__message-form"}, local: true do |f|
    .wrapper__chat-main__message-form__post-form
      .wrapper__chat-main__message-form__post-form__text
        = f.text_field :content, class: 'input-text', placeholder: 'type a message'
      .wrapper__chat-main__message-form__post-form__image
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'hidden'
    .wrapper__chat-main__message-form__send
      = f.submit 'Send', class: 'submit'



  -# .wrapper__chat-main__message-form
  -#   .wrapper__chat-main__message-form__form
  -#     = form_with model: [@group, @message], html: {class: "wrapper__chat-main__message-form__form__post-form"}, local: true do |f|   
  -#       = f.text_field :content, class: 'input-text', placeholder: 'type a message'
  -#       = f.label :image, class: 'wrapper__chat-main__message-form__form__image' do
  -#         = icon('far', 'image', class: 'Form__icon')
  -#         = f.file_field :image, class: 'hidden'
  -#       = f.submit 'Send', class: 'submit'



  


-# ①f.~~~~はインプット要素やラベル要素の置き換え